<a
  href="/"
  class="h-8 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <img 
    src="/src/assets/images/logo-the-bart.png" 
    alt="The Bart Logo" 
    class="h-8 w-auto group-hover:scale-[1.05] ease-in-out duration-300"
  />
</a>
