---
import { Image } from 'astro:assets';
import logoImage from '../assets/images/logo-the-bart.png';
---

<a
  href="/"
  class="h-8 text-base group relative z-30 flex items-center space-x-1.5 text-black dark:text-white font-semibold"
>
  <Image 
    src={logoImage} 
    alt="The Bart Logo" 
    height={32}
    class="h-8 w-auto group-hover:scale-[1.05] ease-in-out duration-300"
  />
</a>
